body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.bg{
    position: relative;
    width: 100%;
    height: 100%;
}
.bg > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg > main{
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.bg > main .logo{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}
.bg > main > h1{
    font-size: 28px;
    color: purple;
    font-weight: 500;
    width: fit-content;
    margin: 20px auto;
}
.bg > main > input{
    width: 303px;
    padding: 0.8em;
    border-radius: 4px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    border: none;
}
.bg > main > button{
    width: 303px;
    padding: 10px;
    font-size: 18px;
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    margin-top: 40px;
    background-color: purple;
}
.bg > main > footer ul{
    width: 303px;    
    padding: 0;
    margin: auto;
    margin-top: 15px;
    list-style: none;    
}
.bg > main > footer ul li{    
    margin: auto;
    backdrop-filter: blur(20px);
    padding: 4px;
    font-size: 14px;
    width: fit-content;
    color: whitesmoke;    
    text-align: left;
    margin-bottom: 10px;
    font-weight: 400;
}